:root {
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --primary-txt-color: #00252E;
    --secondary-text-color: #bebebe;
    --btn-color: #FE52C0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    width: 100%;
    font-family: var(--body-font);
    color: var(--primary-txt-color);
    overflow-x: hidden;
}

h2, h3 {
    font-family: var(--heading-font);
    font-size: 1em;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 { font-size: 24px; }

p {
    font-size: 14px;
    font-weight: 600;
}

ul {
    list-style: none;
}

.container {
    padding: 0 40px;
    text-align: center;
    align-items: center;
}

.btn {
    font-size: 11px;
    font-weight: 600;
    background: var(--btn-color);
    width: fit-content;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 2px rgba(0,0,0,0.1) ;
}

.btn-trans {
    font-size: 10px;
    color: var(--btn-color);
    background: transparent;
    border: solid 1px var(--btn-color);
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: none;
}

.btn:hover {
    background: #FF8ED6;
}

.btn-trans:hover {
    background: transparent;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
}

nav img {
    height: 15px;
}

/* Section Header */
#header {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#header h2 {
    margin-bottom: 20px;
}

#header p {
    margin-bottom: 40px;
}

#header + section {
    margin-top: 100px;
    height: auto;
}

#header + section img {
    width: 100%;
}

/* Section Numbers */
#numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

#numbers ul {
    width: fit-content;
}

#numbers ul li {
    padding-top: 20px;
    position: relative;
}

#numbers ul li:first-of-type {
    margin-bottom: 80px;
}

#numbers img {
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
}

#numbers p { 
    color: var(--secondary-text-color); 
    font-weight: 500;
}

/* Section About */
#about,
#about ul { width: 100%; }

#about ul li {
    padding-top: 150px;
    padding-bottom: 200px;
    width: 100%;
    position: relative;
}

#about ul li img {
    width: 100%;
    margin-bottom: 60px;
}

#about ul li:nth-child(1) {
    background-color: #F5FBFF;
    padding-top: 100px;
    padding-bottom: 50px;
}

#about ul li:nth-child(3) {
    background-color: #F5FBFF;
    padding-top: 0px;
    padding-bottom: 100px;
}

#about ul li:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
}

#about ul li:nth-child(1):before {
    background: url('images/bg-section-top-mobile-1.svg') no-repeat;
    top: -100px;
    left: 0px;
    background-size: 100% 100%;
}

#about ul li:nth-child(2):before {
    background: url('images/bg-section-bottom-mobile-1.svg') no-repeat;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
}

#about ul li:nth-child(3):before {
    background: url('images/bg-section-top-mobile-2.svg') no-repeat;
    top: -100px;
    left: 0px;
    background-size: 100% 100%;
}

/* Section Get Started */

#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 300px;
    position: relative;
    width: 100%;
}

#get-started:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: url('images/bg-section-bottom-mobile-2.svg') no-repeat;
    background-size: 100% 100%;
    top: 0px;
}

#get-started h2 {
    margin-bottom: 40px;
}

/* Section Footer */
#footer {
    padding: 50px 20px;
    color: #fff;
    background: #00252D;
    position: relative;
}

#footer:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: url('images/bg-footer-top-mobile.svg') no-repeat;background-size: 100% 100%;
    top: -99px;
    left: 0;
}

#footer h3 {
    font-family: var(--body-font);
    font-size: 19px;
    font-weight: 700;
}

#footer p {
    padding: 20px 0;
    font-weight: 400;
    line-height: 25px;
}

#footer form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer form > input:first-child {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
}

#footer form > input:first-child:focus {
    outline: none;
}

#footer form > input:last-child {
    border: none;
    font-size: 16px;
    padding: 15px 40px;
    border-radius: 5px;
}

#footer #contact > img {
    margin-top: 150px;
    width: 130px;
}

#footer ul li {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#footer ul li img {
    margin-right: 20px;
}

#social-media {
    margin-top: 50px;
}

#social-media img {
    margin-right: 10px;
    cursor: pointer;
}

@media(min-width: 750px) {
    /* .btn-trans {
        padding: 10px 30px;
    } */

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    .btn {
        cursor: pointer;
        padding: 15px 40px;
    }

    .btn-trans {
        padding: 8px 30px;
    }

    .container {
        padding: 0 12vw;
    }

    nav {
        margin: 60px 0;
        padding: 0 60px;
    }

    nav img {
        height: 22px
    }

    #header p {
        max-width: 500px;
    }

    #numbers ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 200px;
    }

    #numbers ul li {
        margin: 0px 20px !important;
    }

    #about ul li {
        display: flex;
        justify-content: center;
    }

    #about ul li div {
        display: flex;
        flex-direction: row-reverse;
    }

    #about ul li:nth-child(even) > div {
        flex-direction: row;
    }

    #about ul li div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-right: 60px;
    }

    #about ul li:nth-child(even) div div {
        margin-right: 0px;
        margin-left: 60px;
    }

    #about ul li img {
        width: 50%;
        margin: 0;
    }

    #about ul li div div h3 {
        margin-bottom: 20px;
    }

    #footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 50px 60px;
        width: 100%;
        position: relative;
    }

    #footer p {
        max-width: 375px;
    }

    #footer div:last-child {
        margin-right: 50px;
    }

    #footer #contact > img {
        margin-top: 0px;
        width: 180px;
    }

    #footer form {
        flex-direction: row;
    }

    #footer form > input:first-child {
        margin-bottom: 0px;
        margin-right: 20px;
    }

    #footer .attribution {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        font-size: 11px; 
        text-align: center;
    }

    #footer .attribution a { color: hsl(228, 45%, 44%); }
}

@media(min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header + section img,
    #numbers ul{
        width: 1078px;
    }

    .container {
        width: 1078px;
        padding: 0px;
    }
}